body {
	background-image: url(../images/cloudy-day.png);
}

.row {
	margin-top: 1%;
	margin-bottom: 1%;
}

#title {
	background: #ffffff;
	text-align: center;
	padding: 2%;
	border-radius: 15px;
	border: 1px solid #bababa;
	font-family: 'Amita', cursive;
}

p {
	font-family: 'Prata', serif;
}

#instructions {
	background: #ffffff;
	padding: 2%;
	border-radius: 15px;
	border: 1px solid #bababa;
}

.winloss {
	background: #ffffff;
	border-radius: 15px;
	border: 1px solid #bababa;
	padding: 2%;
	text-align: center;
}

.img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: 1px solid #bababa;
}

.score,
.target {
	background: #ffffff;
	border-radius: 15px;
	border: 1px solid #bababa;
	padding: 2%;
	text-align: center;
	font-family: 'Amita', cursive;
}